<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
    <script src="https://kit.fontawesome.com/3adbf84a23.js" crossorigin="anonymous"></script>
</head>
<script src="./bakeryController.js"></script>
<body>
    <div class="container">
        <div class="breakfast">
            <h1 class="breakfast__title">Desayunos</h1>
            <div class="breakfast__container">
                <div class="breakfast__item section">
                    <img src="../../../../public/breakfast/breakfast1.png" class="breakfast__img imgforma" alt="Desayuno 1">
                        <h2 class="breakfast__name">Huevos revueltos con vegetales</h2>
                        <p class="breakfast__price">Precio: $6.000</p>
                        <div class="breakfast__state state">
                            <button class="btn btn--verde">Disponible</button>
                            <a href="#" class="link__item add-to-cart"
                                data-name="Huevos revueltos con vegetales"
                                data-price="6000"
                                data-image="../../../../public/breakfast/breakfast1.png"
                                data-status="Disponible">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>  
                </div>
                <div class="breakfast__item section">
                    <img src="../../../../public/breakfast/breakfast2.png" class="breakfast__img imgforma" alt="Desayuno 2">
                    <h2 class="breakfast__name">Panqueques y hot cakes caceros</h2>
                    <p class="breakfast__price">Precio: $8.000</p>
                    <div class="breakfast__state state">
                        <button class="btn btn--rojo">Agotado</button>
                        <a href="#" class="link__item add-to-cart"
                            data-name="Panqueques y hot cakes caceros"
                            data-price="8000"
                            data-image="../../../../public/breakfast/breakfast2.png"
                            data-status="Agotado">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                </div>
                <div class="breakfast__item section">
                    <img src="../../../../public/breakfast/breakfast3.png" class="breakfast__img imgforma" alt="Desayuno 3">
                    <h2 class="breakfast__name">Sandwich de pavo, queso y lechuga</h2>
                    <p class="breakfast__price">Precio: $8.000</p>
                    <div class="breakfast__state state">
                        <button class="btn btn--verde">Disponible</button>
                        <a href="#" class="link__item add-to-cart"
                            data-name="Sandwich de pavo, queso y lechuga"
                            data-price="8000"
                            data-image="../../../../public/breakfast/breakfast3.png"
                            data-status="Disponible">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                </div>
                <div class="breakfast__item section">
                    <img src="../../../../public/breakfast/breakfast4.png" class="breakfast__img imgforma" alt="Desayuno 4">
                    <h2 class="breakfast__name">Sandwich de jamon y queso en pan integral</h2>
                    <p class="breakfast__price">Precio: $6.000</p>
                    <div class="breakfast__state state">
                        <button class="btn btn--verde">Disponible</button>
                        <a href="#" class="link__item add-to-cart"
                            data-name="Sandwich de jamon y queso en pan integral"
                            data-price="6000"
                            data-image="../../../../public/breakfast/breakfast4.png"
                            data-status="Disponible">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                </div>
                <div class="breakfast__item section">
                    <img src="../../../../public/breakfast/breakfast5.png" class="breakfast__img imgforma" alt="Desayuno 5">
                    <h2 class="breakfast__name">Yogur griego con cereales y frutos secos</h2>
                    <p class="breakfast__price">Precio: $8.000</p>
                    <div class="breakfast__state state">
                        <button class="btn btn--verde">Disponible</button>
                        <a href="#" class="link__item add-to-cart"
                            data-name="Yogur griego con cereales y frutos secos"
                            data-price="8000"
                            data-image="../../../../public/breakfast/breakfast5.png"
                            data-status="Disponible">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                </div>
                <div class="breakfast__item section">
                    <img src="../../../../public/breakfast/breakfast6.png" class="breakfast__img imgforma" alt="Desayuno 6">
                    <h2 class="breakfast__name">Waffles de zanahoria con avena</h2>
                    <p class="breakfast__price">Precio: $8.000</p>
                    <div class="breakfast__state state">
                        <button class="btn btn--verde">Disponible</button>
                        <a href="#" class="link__item add-to-cart"
                            data-name="Waffles de zanahoria con avena"
                            data-price="8000"
                            data-image="../../../../public/breakfast/breakfast6.png"
                            data-status="Disponible">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                </div>
                <div class="breakfast__item section">
                    <img src="../../../../public/breakfast/breakfast7.png" class="breakfast__img imgforma" alt="Desayuno 7">
                    <h2 class="breakfast__name">Tostadas de aguacate y huevo</h2>
                    <p class="breakfast__price">Precio: $7.000</p>
                    <div class="breakfast__state state">
                        <button class="btn btn--verde">Disponible</button>
                        <a href="#" class="link__item add-to-cart"
                            data-name="Tostadas de aguacate y huevo"
                            data-price="7000"
                            data-image="../../../../public/breakfast/breakfast7.png"
                            data-status="Disponible">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                </div>
                <div class="breakfast__item section">
                    <img src="../../../../public/breakfast/breakfast8.png" class="breakfast__img imgforma" alt="Desayuno 8">
                    <h2 class="breakfast__name">Tortilla de espinacas y huevo</h2>
                    <p class="breakfast__price">Precio: $6.000</p>
                    <div class="breakfast__state state">
                        <button class="btn btn--verde">Disponible</button>
                        <a href="#" class="link__item add-to-cart"
                            data-name="Tortilla de espinacas y huevo"
                            data-price="6000"
                            data-image="../../../../public/breakfast/breakfast8.png"
                            data-status="Disponible">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../../js/auth/authGuard.js"></script>
    <script src="../../../../js/cart/cart.js"></script>
</body>
</html>