.btn{
    color: var(--text-color);
    border: none;
    padding: 12px 40px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px 10px;
    text-decoration: none;
}

.btn--rojo {
    background-color: var(--rojo);
}

.btn--rojo-width{
    width: 70%;
}

.btn--verde{
    background-color: var(--verde);
}

.btn--marron{
    background-color: var(--marron);
}

.btn--beige{
    background-color: var(--beige);
}

.btn--azul{
    background-color: var(--fondo);
}

.usuario{
    background-color: var(--marron);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.fa-cart-shopping{
    background-color: var(--rojo);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
}

.fa-house{
    background-color: var(--beige);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
}

.link{
    text-decoration: none;
    color: var(--text-color);
}

.fa-circle-user{
    font-size: 25px;
}

.fa-users{
    font-size: 60px;
}

.fa-basket-shopping{
    font-size: 60px;
}

.homePage__btn{
    background-color: var(--rojo);
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
}