.container{
    text-align: center;
    justify-content: center;
}

.categories{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section{
    background-color: var(--beige);
    border-radius: 15px;
    padding:10px;
    margin: 10px;
    width: 310px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgforma{
    width: 310px;
    height: 200px;
    border-radius: 15px 15px 0 0;    
    margin-top:-10px
}

.state{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.homePage__categories{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.homePage__container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 15px;
}

.homePage__item{
    background-color: var(--marron);
    border-radius: 15px;
    /* padding: 10px; */
    width: 130px;
    height:150px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    color: var(--text-color);
    font-weight: bold;
}