.links{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    text-decoration: none;
}

.link__item{
    text-decoration: none;
    color: var(--text-color);
}
