.login__link{
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    justify-content: center;
}

.login__crearcuenta{
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}