<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="adminOrders">
            <h1 class="adminOrders__title">Gestión de Pedidos</h1>
            <div id="ordersContainer" class="adminOrders__container">
            
            </div>
        </div>
    </div>
    <script type="module" src="./ordersController.js"></script>
</body>
</html>