
/* Componentes */
@import "../style/componentes/boton.css";
@import "../style/componentes/input.css";
@import "../style/componentes/links.css";
@import "../style/componentes/container.css";
@import "../style/componentes/menu.css";
@import "../style/componentes/orders.css";
@import "../style/componentes/homePage.css";
@import "../style/componentes/fastCar.css";


/* Layout */
@import "../style/layout/layout.css";


/*Global */
@import "../style/global/variables.css";

/*Pages*/
/* @import "../style/pages/"  */

/* Modales */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.products__actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
    width: 100%;
    padding: 10px 0;
}