<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
    <script src="https://kit.fontawesome.com/3adbf84a23.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="manager">
            <div class="homePage__container">
                <h1 class="homePage__title">Admin</h1>
                <i class="fa-solid fa-circle-user"></i>
            </div>
            <h2 class="homePage__text">Bienvenido, Administrador</h2>
            <div class="homePage__categories">
                <div class="homePage__item">
                    <img src="../../../../public/manager/foods.png" alt="Comidas" class="homePage__img">
                    <a href="#" class="homePage__category">Comidas</a>
                </div>
                <div class="homePage__item">
                    <img src="../../../../public/manager/fastFood.png" alt="Comidas rapidas" class="homePage__img">
                    <a href="#" class="homePage__category">Comidas rapidas</a>
                </div>
                <div class="homePage__item">
                    <img src="../../../../public/manager/promotions.png" alt="Promociones" class="homePage__img">
                    <a href="#" class="homePage__category">Promociones</a>
                </div>
            </div>
            <h2 class="homePage__categories--title">Gestionar Categorías ></h2>
            <div class="homePage__item--categories">
                <div class="homePage___ns">
                <i class="fa-solid fa-users"></i>
                </div>
                <div class="homePage__edit">
                    <h3 class="homePage__item-title">Gestión de Empleados</h3>
                    <p class="homePage__cant"></p>
                </div>    
                    <a href="../employees/employees.html" class="homePage__employees"><button class="homePage__btn">Ver empleados ></button></a>
                
            </div>
            <div class="homePage__item--categories">
                <i class="fa-solid fa-basket-shopping"></i>
                <h3 class="homePage__item-title">Gestión de Productos</h3>
                <p class="homePage__cant"></p>
                <a href="../menu/menu.html" class="homePage__products"><button class="homePage__btn">Ver Productos ></button></a>
            </div>
            <h2 class="homePage__orders">Pedidos Recientes</h2>
            <div class="homePage__table">
                <table class="data-table">
                    <thead class="data-table__header">
                        <tr class="data-table__row">
                            <th class="data-table__fact">N° Pedido</th>
                            <th class="data-table__fact">Cliente</th>
                            <th class="data-table__fact">Estado</th>
                            <th class="data-table__fact">Fecha</th>
                            <th class="data-table__fact">Total</th>
                        </tr>
                    </thead>
                    <tbody class="data-table__body">
                        <tr class="data-table__row">
                            <td class="data-table__fact">#1023</td>
                            <td class="data-table__fact">Laura Gomez</td>
                            <td class="data-table__fact">Pendiente</td>
                            <td class="data-table__fact">23-10-01</td>
                            <td class="data-table__fact">$8.000</td>
                        </tr>
                        <tr class="data-table__row">
                            <td class="data-table__fact">#1022</td>
                            <td class="data-table__fact">Carlos Martinez</td>
                            <td class="data-table__fact">Pendiente</td>
                            <td class="data-table__fact">23-10-01</td>
                            <td class="data-table__fact">$16.000</td>
                        </tr>
                        <tr class="data-table__row">
                            <td class="data-table__fact">#1021</td>
                            <td class="data-table__fact">Ana Rodriguez</td>
                            <td class="data-table__fact">En proceso</td>
                            <td class="data-table__fact">23-10-01</td>
                            <td class="data-table__fact">$24.000</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <h2 class="homePage__orders">Ver todos los pedidos ></h2>
    </div>
</body>
</html>