<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
    <script src="https://kit.fontawesome.com/3adbf84a23.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="profile">
            <h1 class="profile__title">Mi Perfil</h1>
            <div class="profile__info">
                <img src="../../../../public/Conny.jpg" class="profile__img img" alt="Foto de perfil">
                <h2 class="profile__name">Leidy Duarte</h2>
                <p class="profile__email">leidy.duarte@example.com</p>
            </div>
            <div class="profile__actions">
                <a href="../orderHistory/orderHistory.html" class="profile__link"><button class="btn btn--beige">Historial de pedidos</button></a>
                <a href="../changePassword/change.html" class="profile__link"><button class="btn btn--marron">Cambiar contraseña</button></a>
                <a href="../editProfile/editProfile.html" class="profile__link"><button class="btn btn--verde">Editar Perfil</button></a>
                <button class="btn btn--rojo " id="logoutBtn">Cerrar Sesión</button>
            </div>
            <div class="botones--links">
                <a href="../categories/categories.html" class="profile__link link"><i class="fa-solid fa-house"></i></a>
                <a href="../fastCar/fastCar.html" class="profile__link link"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="../profile/profile.html" class="profile__link link"><button class="profile__usuario usuario">L</button></a>
            </div>
        </div>
    </div>
    <script src="../../../../js/auth/authGuard.js"></script>
    <script src="./profileController.js"></script>
</body>
</html>