<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
</head>
<body>
    <div class="container">
        <div class="employees">
            <div class="employees__header">
                <h1 class="employees__title">
                    Gestión de Empleados
                </h1>
            </div>
            <form
                id="employeeForm"
                class="employees__form section">
                <input
                    type="text"
                    id="employeeName"
                    class="input"
                    placeholder="Nombre empleado"
                    required>
                <input
                    type="email"
                    id="employeeEmail"
                    class="input"
                    placeholder="Correo"
                    required>
                <select
                    id="employeeRole"
                    class="input"
                    required>
                    <option value="ROL-002">Empleado</option>
                </select>
                <button type="submit" class="btn btn--verde">Agregar empleado</button>
            </form>
            <div id="employeesContainer" class="employees__container">
            
            </div>
        </div>
    </div>
    <script src="../../../js/auth/authGuard.js"></script>
    <script type="module" src="./employeesController.js"></script>
</body>
</html>