<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="newpassword">
            <div class="newpassword__logo">
                <img src="../../../../public/turpial.png" class="newpassword__img img" alt="El Turpial Logo">
            </div>
            <h1 class="newpassword__title">Nueva contraseña</h1>
            <form id="newPasswordForm">
                <input type="password" class="newpassword__input input" id="newPassword" placeholder="Nueva contraseña" required>
                <input type="password" class="newpassword__input input" id="confirmPassword" placeholder="Confirmar contraseña" required>
                <button type="submit" class="btn btn--rojo"> Guardar contraseña </button>
            </form>
        </div>
    </div>
    <script src="./newPasswordController.js"></script>
</body>
</html>