body {
    background-color: var(--fondo);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    width: 100vw;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}