<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
</head>

<body>
    <div class="container">
        <div class="login">
            <div class="login__logo">
                <img src="../../../../public/turpial.png" class="login__img img" alt="El Turpial Logo">
            </div>

            <h2 class="login__title">Inicia tu Sesión</h2>

            <form id="login__Form">
                <input type="email" class="login__input input" id="email" placeholder="Ingresa tu correo" required>
                <input type="password" class="login__input input" id="contraseña" placeholder="Ingresa tu contraseña" required>
                <button type="submit" class="btn btn--rojo btn--rojo-width">Ingresar</button>
            </form>
            <div class="links">
                <a href="../recoverPassword/recoverPassword.html" class="link__item">Recuperar contraseña</a>
                <a href="../create/create.html" class="link__item">Crea tu cuenta</a>
            </div>
        </div>
    </div>
    <script src="./loginContoller.js"></script>
</body>

</html>