<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
</head>
<body>
    <div class="container">
        <div class="categories">
            <div class="categories__logo">
                <img src="../../../../public/turpial.png" class="categories__img img" alt="El Turpial Logo">
            </div>
            <h1 class="categories__title">¡Bienvenido a El Turpial!</h1>
            <a href="../menu/menu.html" class="categories__boton"><button class="menu__btnmenu rojo">Menú</button></a>
            <a href="#" class="categories__boton"><button class="categories__btnadicionales verde">Adicionales</button></a>
            <a href="#" class="categories__boton"><button class="categories__btnpromociones marron">Promociones</button></a>
        </div>

    </div>
</body>
</html>