<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
    <script src="https://kit.fontawesome.com/3adbf84a23.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="bakery">
            <h1 class="bakery__title">Panadería y repostería</h1>
            <div class="bakery__container">
                <div class="bakery__item section">
                    <div class="img"></div>
                    <img src="../../../../public/bakery/bakery1.png" class="bakery__img imgforma" alt="Panadería 1">
                        <h2 class="bakery__name">Pan de masa madre</h2>
                        <p class="bakery__price">Precio: $2.000</p>
                        <div class="bakery__state state">
                            <button class="btn btn--verde">Disponible</button>
                            <a href="#" class="link__item"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>  
                    
                </div>
                <div class="bakery__item section">
                    <img src="../../../../public/bakery/bakery2.png" class="bakery__img imgforma" alt="Panadería 2">
                        <h2 class="bakery__name">Croissants</h2>
                        <p class="bakery__price">Precio: $3.000</p>
                        <div class="bakery__state state">
                            <button class="btn btn--rojo">Agotado</button>
                            <a href="#" class="link__item"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                </div>
                <div class="bakery__item section">
                    <img src="../../../../public/bakery/bakery3.png" class="bakery__img imgforma" alt="Panadería 3">
                        <h2 class="bakery__name">Torta de chocolate</h2>
                        <p class="bakery__price">Precio: $4.000</p>
                        <div class="bakery__state state">
                            <button class="btn btn--verde">Disponible</button>
                            <a href="#" class="link__item"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>