<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devoluciones</title>
    <link rel="stylesheet" href="../../../../style/main.css">
    <script src="./returnsController.js"></script>
</head>
<body>
    <div class="container"> 
        <div class="returns"> 
            <div class="returns__logo"> 
                <img src="../../../../public/turpial.png" class="img" alt="El Turpial Logo"> 
            </div> 
            <h1 class="returns__title"> Registro de devoluciones </h1> 
            <form id="returnsForm" class="returns__form"> 
                <input type="text" id="pedido" class="input" placeholder="ID Pedido" required> 
                <select id="producto" class="input" required> 
                    <option value=""> Selecciona un producto </option> 
                    <option value="Café"> Café </option> 
                    <option value="Cappuccino"> Cappuccino </option> 
                    <option value="Sandwich"> Sandwich </option> 
                </select> 
                <input type="number" id="valor" class="input" placeholder="Valor reembolso" required> 
                <textarea id="motivo" class="input" placeholder="Motivo devolución" required></textarea> 
                <button type="submit" class="btn btn--rojo"> Registrar devolución </button> 
            </form> 
            <div id="listaDevoluciones"> 

            </div> 
        </div> 
    </div> 
    <script src="../../../../js/history/history.js"></script> <script src="./returnsController.js"></script>
</body>
</html>