<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Turpial - Bebidas</title>
    <link rel="stylesheet" href="../../../../style/main.css">
    <script src="https://kit.fontawesome.com/3adbf84a23.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="back">
            <button id="backButton" class="back__button">← Atrás</button>
        </div>
        <div class="drinks">
            <h1 class="drinks__title">Bebidas</h1>
            <div class="drinks__container">
                <div class="drinks__item section">
                    <img src="../../../../public/drinks/drinks1.png" class="drinks__img imgforma" alt="Bebida 1">
                    <h2 class="drinks__name">Smoothie de frutas y espinacas</h2>
                    <p class="drinks__price">Precio: $3.000</p>
                    <div class="drinks__state">
                        <button class="btn btn--verde">Disponible</button>
                        <a href="#" class="link__item add-to-cart"
                            data-name="Smootjie de frutas y espinacas"
                            data-price="3000" 
                            data-image="../../../../public/drinks/drinks1.png"
                            data-status="Disponible">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                </div>
                <div class="drinks__item section">
                    <img src="../../../../public/drinks/drinks2.png" class="drinks__img imgforma" alt="Bebida 2">
                    <h2 class="drinks__name">Licuado de manzana y canela</h2>
                    <p class="drinks__price">Precio: $2.000</p>
                    <div class="drinks__state">
                        <button class="btn btn--rojo">Agotado</button>
                        <a href="#" class="link__item add-to-cart"
                            data-name="Licuado de manzana y canela"
                            data-price="2000" 
                            data-image="../../../../public/drinks/drinks2.png"
                            data-status="Agotado">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                </div>
                <div class="drinks__item section">
                    <img src="../../../../public/drinks/drinks3.png" class="drinks__img imgforma" alt="Bebida 3">
                    <h2 class="drinks__name">Smoothie de fresa</h2>
                    <p class="drinks__price">Precio: $2.500</p>
                    <div class="drinks__state">
                        <button class="btn btn--verde">Disponible</button>
                        <a href="#" class="link__item add-to-cart"
                            data-name="Smoothie de fresa"
                            data-price="2500"
                            data-image="../../../../public/drinks/drinks3.png"
                            data-status="Disponible">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../js/auth/authGuard.js"></script>
    <script type="module" src="./drinksController.js"></script>
</body>

</html>