<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
    <script src="https://kit.fontawesome.com/3adbf84a23.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="drinks">
            <h1 class="drinks__title">Bebidas</h1>
            <div class="drinks__container">
                <div class="drinks__item section">
                    <div class="img"></div>
                    <img src="../../../../public/drinks/drinks1.png" class="drinks__img imgforma" alt="Bebida 1">
                    <div class="drinks__description">
                        <h2 class="drinks__name">Smoothie de frutas y espinacas</h2>
                        <p class="drinks__price">Precio: $3.000</p>
                        <div class="drinks__state">
                            <button class="btn btn--rojo">Disponible</button>
                            <a href="#" class="link__item"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>  
                    </div>
                    
                </div>
                <div class="drinks__item section">
                    <img src="../../../../public/drinks/drinks2.png" class="drinks__img imgforma" alt="Bebida 2">
                    <h2 class="drinks__name">Agua de Jamaica</h2>
                    <p class="drinks__price">Precio: $2.000</p>
                    <div class="drinks__state">
                        <button class="btn btn--verde">Agotado</button>
                        <a href="#" class="link__item"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                <div class="drinks__item section">
                    <img src="../../../../public/drinks/drinks3.png" class="drinks__img imgforma" alt="Bebida 3">
                    <h2 class="drinks__name">Limonada</h2>
                    <p class="drinks__price">Precio: $1.500</p>
                    <div class="drinks__state">
                        <button class="btn btn--rojo">Disponible</button>
                        <a href="#" class="link__item"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>