<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
    <script src="https://kit.fontawesome.com/3adbf84a23.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="categories">
            <div class="categories__logo">
                <img src="../../../../public/turpial.png" class="categories__img img" alt="El Turpial Logo">
            </div>
            <h1 class="categories__title">¡Bienvenido a El Turpial!</h1>
            
            <!-- MENU -->
            <a href="../menu/menu.html" class="btn btn--rojo categories__boton">Menú</a>

            <!-- COMIDAS RAPIDAS -->
            <a href="../fastfood/fastfood.html" class="btn btn--verde categories__boton">Comidas rápidas</a>

            <!-- PROMOCIONES -->
            <a href="../promotions/promotions.html" class="btn btn--marron categories__boton">Promociones</a>

            <div class="botones--links">
                <a href="../profile/profile.html" class="categories__link link"><button class="categories__usuario usuario">L</button></a>
                <a href="../fastCar/fastCar.html" class="categories__link link"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </div>
    <script src="../../../js/auth/authGuard.js"></script>
</body>
</html>