<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
    <script src="https://kit.fontawesome.com/3adbf84a23.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>Historial de Pedidos</h1>
        <div class="order-history">
            <div class="order-history__item section">
                <h2 class="order-history__title">Pedido #12345</h2>
                <img src="../../../../public/breakfast/breakfast4.png" alt="Order Image" class="order-history__image">
                <p class="order-history__date">Fecha: 2024-06-01</p>
                <p class="order-history__total">Total: $20.000</p>
                <p class="order-history__status">Estado: Entregado</p>
            </div>
            <div class="order-history__item section">
                <h2 class="order-history__title">Pedido #12346</h2>
                <img src="../../../../public/drinks/drinks2.png" alt="Order Image" class="order-history__image">
                <p class="order-history__date">Fecha: 2024-06-05</p>
                <p class="order-history__total">Total: $15.000</p>
                <p class="order-history__status">Estado: En proceso</p>
            </div>
            <button class="btn btn--marron">Atras</button>
        </div>
</body>
</html>