<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
    <script src="https://kit.fontawesome.com/3adbf84a23.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="order-history">
            <h1 class="order-history__main-title">Historial de pedidos</h1>

            <!-- PEDIDOS DINÁMICOS -->
            <div id="ordersContainer">

            </div>
            <button id="backButton"class="btn btn--marron">Atrás</button>
        </div>
    </div>
    <script src="../../../js/auth/authGuard.js"></script>
    <script src="./orderHistoryController.js"></script>
</body>
</html>