<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
    <script src="https://kit.fontawesome.com/3adbf84a23.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="newOrder">
            <h1 class="newOrder__title">Nuevo Pedido</h1>
            <form class="newOrder__form">
                <input type="text" class="newOrder__input input" id="customerName" placeholder="Nombre del cliente">
                <select class="newOrder__input input" id="orderType">
                    <option value="">Seleccione tipo de pedido</option>
                    <option value="Para consumir aquí">Para consumir aquí</option>
                    <option value="A domicilio">A domicilio</option>
                    <option value="Para recoger">Para recoger</option>
                </select>
                <div id="mesaContainer" style="display: none;">
                    <input type="number" class="newOrder__input input" id="numeroMesa" placeholder="Número de mesa">
                </div>
                <div id="direccionContainer" style="display: none;">
                    <input type="text" class="newOrder__input input" id="direccionEntrega" placeholder="Dirección entrega">
                </div>
                <div class="newOrder__description">
                    <p class="newOrder__description-title">Descripción del pedido:</p>
                    <div class="newOrder__selectors" style="display: flex; gap: 10px; margin-bottom: 10px;">
                        <select
                            class="newOrder__input input"
                            id="productSelect">
                            <option value="">
                                Seleccione un producto
                            </option>
                        </select>

                        <input
                            type="number"
                            class="newOrder__input input"
                            id="productQuantity"
                            placeholder="Cantidad"
                            min="1"
                            value="1">
                    </div>
                    <div class="newOrder__description-content" id="productsContainer">
                    </div>
                    <button type="button" class="btn--marron btn" id="addProductBtn">Añadir al pedido</button>
                    <input type="text" class="newOrder__input input" id="orderObservation" placeholder="Observaciones">
                    <p class="newOrder__total" id="orderTotal">Total: $8.000</p>
                </div>
                
                <button class="btn--rojo btn" id="cancelBtn">Cancelar</button>
                <button type="submit" class="btn--verde btn" id="registerBtn">Registrar</button>
            </form>
        </div>
    </div>
    <script src="../../../js/auth/authGuard.js"></script>
    <script src="./newOrderController.js"></script>
</body>
</html>