<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
    <script src="https://kit.fontawesome.com/3adbf84a23.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="newOrder">
            <h1 class="newOrder__title">Nuevo Pedido</h1>
            <form class="newOrder__form">
                <input type="text" class="newOrder__input input" id="customerName" placeholder="Nombre del cliente">
                <div class="newOrder__check">
                    <input type="radio" name="orderType" value="Consumir aquí" class="newOrder__checkbox input"> 
                    <p class="newOrder__type"> Para consumir aquí</p>
                </div>
                <div class="newOrder__check">
                    <input type="radio" name="orderType" value="Domicilio" class="newOrder__checkbox input">
                    <p class="newOrder__type">Para domicilio</p>
                </div>
                <div class="newOrder__check">
                    <input type="radio" name="orderType" value="Llevar" class="newOrder__checkbox input">
                    <p class="newOrder__type">Para llevar</p>
                </div>
                <div class="newOrder__description">
                    <p class="newOrder__description-title">Descripción del pedido:</p>
                    <div class="newOrder__description-content" id="productsContainer">
                        
                    </div>
                    <button type="button" class="btn--marron btn" id="addProductBtn">Agregar producto</button>
                    <input type="text" class="newOrder__input input" id="orderObservation" placeholder="Observaciones">
                    <p class="newOrder__total" id="orderTotal">Total: $8.000</p>
                </div>
                
                <button class="btn--rojo btn" id="cancelBtn">Cancelar</button>
                <button type="submit" class="btn--verde btn" id="registerBtn">Registrar</button>
            </form>
        </div>
    </div>
    <script src="./newOrderController.js"></script>
</body>
</html>