<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
    <script src="https://kit.fontawesome.com/3adbf84a23.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="fastcar">
            <h1 class="fastcar__title">Mi carrito</h1>
            <div class="fastcar__options section" id="cartContainer">
                <!-- Productos del carrito -->
            </div>
                <h2 class="fastcar__total" id="cartTotal">Total: $33.000</h2>
                <button class="btn btn--verde" id="checkoutButton">Realizar pedido</button>
            <div class="botones--links">
                <a href="../categories/categories.html" class="profile__link link"><i class="fa-solid fa-house"></i></a>
                <a href="../fastcar/fastcar.html" class="profile__link link" id="checkoutBotton"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="../profile/profile.html" class="profile__link link"><button class="profile__usuario usuario">L</button></a>

            </div>
        </div>
    </div>
    <script src="../../../../js/auth/authGuard.js"></script>
    <script type="module" src="./fastCarController.js"></script>
</body>
</html>
    