<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
</head>
<body>
    <div class="container">
        <div class="create">
            <img src="../../../../public/turpial.png" class="create__img img" alt="El turplial logo">
            <h1 class="create__title">Crea tu cuenta</h1>
            <form id="registroForm" class="create__form">
                <input type="text" class="create__input input" id="nombre" placeholder="Nombre completo" required>
                <input type="text" class="create__input input" id="correo" placeholder="Correo  electrónico" required>
                <input type="text" class="create__input input" id="telefono" placeholder="Teléfono" required>
                <input type="password" class="create__input input" id="contraseña" placeholder="Contraseña" required>
                <div class="create__buttons">
                    <a href="../create/create.html" class="create__cancelar"><button type="button" class="btn btn--verde">Cancelar</button></a>
                    <a href="../../cliente/categories/categories.html" class="create__crear"> <button type="button" class="btn btn--verde">Crear</button></a>
                </div>
                <div class="links">
                    <a href="../login/login.html" class="link__item">Ya tengo cuenta. Iniciar sesión</a>
                </div>
            </form>  
        </div>
    </div>  
</body>
</html>