<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Turpial - Crear Cuenta</title>
    <link rel="stylesheet" href="../../../../style/main.css">
</head>
<body>
    <div class="container">
        <div class="create">
            <img src="../../../../public/turpial.png" class="create__img img" alt="El turplial logo">
            <h1 class="create__title">Crea tu cuenta</h1>
            <form id="registroForm" class="create__form">
                <input type="text" class="create__input input" id="name" placeholder="Nombre completo" required>
                <input type="email" class="create__input input" id="email" placeholder="Correo  electrónico" required>
                <input type="text" class="create__input input" id="phone" placeholder="Teléfono" required>
                <input type="text" class="create__input input" id="direccion" placeholder="Dirección de residencia" required>
                <input type="password" class="create__input input" id="password" placeholder="Contraseña" required>
                <div class="create__buttons">
                    <a href="../login/login.html" class="create__cancelar"><button type="button" class="btn btn--rojo">Cancelar</button></a>
                    <button type="submit" class="btn btn--verde">Crear</button>
                </div>
                <div class="links">
                    <a href="../login/login.html" class="link__item">Ya tengo cuenta. Iniciar sesión</a>
                </div>
            </form>  
        </div>
    </div> 
    <script src="./createController.js"></script> 
</body>
</html>