<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial</title>
    <link rel="stylesheet" href="../../../../style/main.css">
</head>
<body>
    <div class="container"> 
        <div class="history"> 
            <img src="../../../../public/turpial.png" class="img" alt="El Turpial"> 
            <h1 class="history__title"> Historial de actividades </h1> 
            <div id="historyList"> 

            </div> 
        </div> 
    </div> 
    <script src="../../../js/auth/authGuard.js"></script>
    <script src="./historyController.js"></script>
</body>
</html>