<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Turpial - Cambiar Contraseña</title>
    <link rel="stylesheet" href="../../../../style/main.css">
</head>
<body>
    <div class="container">
        <div class="change">
            <img src="../../../../public/turpial.png" class="change__img img" alt="El turplial logo">
            <h1 class="change__title">Cambia tu contraseña</h1>
            <form id="changePasswordForm" class="change__form">
                <input type="password" class="change__input input" id="currentPassword" placeholder="Contraseña actual" required>
                <input type="password" class="change__input input" id="newPassword" placeholder="Nueva contraseña" required>
                <input type="password" class="change__input input" id="confirmPassword" placeholder="Confirmar nueva contraseña" required>
                <div class="change__buttons">
                    <a href="../profile/profile.html" class="change__cancelar"><button type="button" class="btn btn--rojo">Cancelar</button></a>
                    <button type="submit" class="btn btn--verde" id="changePasswordBtn">Cambiar contraseña</button>
                </div>
            </form>  
        </div>
    </div> 
    <script src="../../../js/auth/authGuard.js"></script>
    <script src="./changeController.js"></script>
</body>
</html>