<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
</head>
<body>
    <div class="container">
        <div class="change">
            <img src="../../../../public/turpial.png" class="change__img img" alt="El turplial logo">
            <h1 class="change__title">Cambia tu contraseña</h1>
            <form id="cambioForm" class="change__form">
                <input type="password" class="change__input input" id="contraseñaActual" placeholder="Contraseña actual" required>
                <input type="password" class="change__input input" id="nuevaContraseña" placeholder="Nueva contraseña" required>
                <input type="password" class="change__input input" id="confirmarContraseña" placeholder="Confirmar nueva contraseña" required>
                <div class="change__buttons">
                    <a href="../profile/profile.html" class="change__cancelar"><button type="button" class="btn btn--rojo">Cancelar</button></a>
                    <a href="../../auth/login/login.html"><button type="button" class="btn btn--verde">Cambiar contraseña</button></a>
                </div>
            </form>  
        </div>
    </div>  
</body>
</html>