<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
</head>
<body>
    <div class="container">
        <div class="recover">
            <div class="recover__logo">
                <img src="../../../../public/turpial.png" class="create__img img" alt="El Turpial Logo">
            </div>
            <h1 class="recover__title">Recuperar contraseña</h1>
            <input type="email" class="recover__email input" placeholder="Ingresa tu correo" id="email" required>
            <a href="../codepassword/codepassword.html" class="recover__boton"><button class="recover__btnenviar rojo">Enviar</button></a>
        </div>
    </div>
</body>
</html>