<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
    <script src="https://kit.fontawesome.com/3adbf84a23.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="orders">
            <h1 class="orders__title">Pedidos</h1>
            <div class="orders__container">
                <a href="#" class="orders__serch"><i class="fa-solid fa-magnifying-glass"></i></a>
                <input type="text" class="orders__text input" id="searchOrder" placeholder="Buscar pedido por nombre">
                <a href="#" class="orders__filter"><i class="fa-solid fa-sliders"></i></a>
            </div>
            <div class="orders__list" id="orderslist">
                
            </div>
            <a href="../newOrder/newOrder.html" class="orders__add"><i class="fa-solid fa-plus"></i></a>
        </div>
    </div>
    <script src="./ordersController.js"></script>
</body>
</html>