<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
    <script src="https://kit.fontawesome.com/3adbf84a23.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="fastFood">
            <h1 class="fastFood__title">Comidas Rápidas</h1>
            <div class="fastFood__container">
                <div class="fastFood__item section">
                    <div class="img"></div>
                    <img src="../../../../public/fastfood/fastFood1.avif" class="fastFood__img imgforma" alt="Comida Rápida 1">
                    <div class="fastFood__description">
                        <h2 class="fastFood__name">Salchipapa</h2>
                        <p class="fastFood__price">Precio: $6.000</p>
                        <div class="fastFood__state">
                            <button class="btn btn--verde">Disponible</button>
                            <a href="#" class="link__item add-to-cart"
                                data-name="Salchipapa"
                                data-price="6000"
                                data-image="../../../../public/fastFood/fastFood1.avif"
                                data-status="Disponible">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>  
                    </div>
                </div>
                <div class="fastFood__item section">
                    <div class="img"></div>
                    <img src="../../../../public/fastfood/fastfood2.png" class="fastFood__img imgforma" alt="Comida Rápida 1">
                    <div class="fastFood__description">
                        <h2 class="fastFood__name">Choripapa</h2>
                        <p class="fastFood__price">Precio: $7.000</p>
                        <div class="fastFood__state">
                            <button class="btn btn--verde">Disponible</button>
                            <a href="#" class="link__item add-to-cart"
                                data-name="Choripapa"
                                data-price="7000"
                                data-image="../../../../public/fastFood/fastFood2.png"
                                data-status="Disponible">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>  
                    </div>
                </div>
                <div class="fastFood__item section">
                    <div class="img"></div>
                    <img src="../../../../public/fastfood/fastFood3.webp" class="fastFood__img imgforma" alt="Comida Rápida 1">
                    <div class="fastFood__description">
                        <h2 class="fastFood__name">Empanadas</h2>
                        <p class="fastFood__price">Precio: $3.000</p>
                        <div class="fastFood__state">
                            <button class="btn btn--verde">Disponible</button>
                            <a href="#" class="link__item add-to-cart"
                                data-name="Empanadas"
                                data-price="3000"
                                data-image="../../../../public/fastFood/fastFood3.webp"
                                data-status="Disponible">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>  
                    </div>
                </div>
                <div class="fastFood__item section">
                    <div class="img"></div>
                    <img src="../../../../public/fastfood/fastFood4.jpg" class="fastFood__img imgforma" alt="Comida Rápida 1">
                    <div class="fastFood__description">
                        <h2 class="fastFood__name">Papas</h2>
                        <p class="fastFood__price">Precio: $3.000</p>
                        <div class="fastFood__state">
                            <button class="btn btn--verde">Disponible</button>
                            <a href="#" class="link__item add-to-cart"
                            data-name="Papas"
                            data-price="3000"
                            data-image="../../../../public/fastFood/fastFood4.jpg"
                            data-status="Disponible">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                        </div>  
                    </div>
                </div>
                <div class="fastFood__item section">
                    <div class="img"></div>
                    <img src="../../../../public/fastfood/fastFood5.jpg" class="fastFood__img imgforma" alt="Comida Rápida 1">
                    <div class="fastFood__description">
                        <h2 class="fastFood__name">Perros</h2>
                        <p class="fastFood__price">Precio: $4.000</p>
                        <div class="fastFood__state">
                            <button class="btn btn--verde">Disponible</button>
                            <a href="#" class="link__item add-to-cart"
                            data-name="Perros"
                            data-price="4000"
                            data-image="../../../../public/fastFood/fastFood5.jpg"
                            data-status="Disponible">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                        </div>  
                    </div>
                </div>
                <div class="fastFood__item section">
                    <div class="img"></div>
                    <img src="../../../../public/fastfood/fastFood6.webp" class="fastFood__img imgforma" alt="Comida Rápida 1">
                    <div class="fastFood__description">
                        <h2 class="fastFood__name">Hamburguesas</h2>
                        <p class="fastFood__price">Precio: $6.000</p>
                        <div class="fastFood__state">
                            <button class="btn btn--verde">Disponible</button>
                            <a href="#" class="link__item add-to-cart"
                            data-name="Hamburguesas"
                            data-price="6000"
                            data-image="../../../../public/fastFood/fastFood6.webp"
                            data-status="Disponible">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../../js/auth/authGuard.js"></script>
    <script src="../../../../js/cart/cart.js"></script>
</body>
</html>