<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
    <script src="https://kit.fontawesome.com/3adbf84a23.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="fastFood">
            <h1 class="fastFood__title">Comidas Rápidas</h1>
            <div class="fastFood__container">
                <div class="fastFood__item section">
                    <div class="img"></div>
                    <img src="../../../../public/fastfood/fastFood1.avif" class="fastFood__img imgforma" alt="Comida Rápida 1">
                    <div class="fastFood__description">
                        <h2 class="fastFood__name">Smoothie de frutas y espinacas</h2>
                        <p class="fastFood__price">Precio: $3.000</p>
                        <div class="fastFood__state">
                            <button class="btn btn--verde">Disponible</button>
                            <a href="#" class="link__item"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>  
                    </div>
                </div>
                <div class="fastFood__item section">
                    <div class="img"></div>
                    <img src="../../../../public/fastfood/fastfood2.png" class="fastFood__img imgforma" alt="Comida Rápida 1">
                    <div class="fastFood__description">
                        <h2 class="fastFood__name">Smoothie de frutas y espinacas</h2>
                        <p class="fastFood__price">Precio: $3.000</p>
                        <div class="fastFood__state">
                            <button class="btn btn--verde">Disponible</button>
                            <a href="#" class="link__item"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>  
                    </div>
                </div>
                <div class="fastFood__item section">
                    <div class="img"></div>
                    <img src="../../../../public/fastfood/fastFood3.webp" class="fastFood__img imgforma" alt="Comida Rápida 1">
                    <div class="fastFood__description">
                        <h2 class="fastFood__name">Smoothie de frutas y espinacas</h2>
                        <p class="fastFood__price">Precio: $3.000</p>
                        <div class="fastFood__state">
                            <button class="btn btn--verde">Disponible</button>
                            <a href="#" class="link__item"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>  
                    </div>
                </div>
                <div class="fastFood__item section">
                    <div class="img"></div>
                    <img src="../../../../public/fastfood/fastFood4.jpg" class="fastFood__img imgforma" alt="Comida Rápida 1">
                    <div class="fastFood__description">
                        <h2 class="fastFood__name">Smoothie de frutas y espinacas</h2>
                        <p class="fastFood__price">Precio: $3.000</p>
                        <div class="fastFood__state">
                            <button class="btn btn--verde">Disponible</button>
                            <a href="#" class="link__item"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>  
                    </div>
                </div>
                <div class="fastFood__item section">
                    <div class="img"></div>
                    <img src="../../../../public/fastfood/fastFood5.jpg" class="fastFood__img imgforma" alt="Comida Rápida 1">
                    <div class="fastFood__description">
                        <h2 class="fastFood__name">Smoothie de frutas y espinacas</h2>
                        <p class="fastFood__price">Precio: $3.000</p>
                        <div class="fastFood__state">
                            <button class="btn btn--verde">Disponible</button>
                            <a href="#" class="link__item"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>  
                    </div>
                </div>
                <div class="fastFood__item section">
                    <div class="img"></div>
                    <img src="../../../../public/fastfood/fastFood6.webp" class="fastFood__img imgforma" alt="Comida Rápida 1">
                    <div class="fastFood__description">
                        <h2 class="fastFood__name">Smoothie de frutas y espinacas</h2>
                        <p class="fastFood__price">Precio: $3.000</p>
                        <div class="fastFood__state">
                            <button class="btn btn--verde">Disponible</button>
                            <a href="#" class="link__item"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>  
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>