<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../style/main.css">
    <script src="https://kit.fontawesome.com/3adbf84a23.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="promotions">
            <h1 class="promotions__title">Promociones</h1>
            <div class="promotions__container">
                <div class="promotions__item section">
                    <img src="../../../../public/promotions/promotions1.png" class="promotions__img imgforma" alt="Promoción 1">
                    <h2 class="promotions__name"> Arroz con pollo</h2>
                    <p class="promotions__old-price">Antes: $25.000</p>
                    <p class="promotions__price">Ahora: $18.000</p>
                    <div class="promotions__state state">
                        <button class="btn btn--verde">Disponible</button>
                        <a href="#"class="link__item add-to-cart"
                            data-name="Arroz con pollo"
                            data-price="18000"
                            data-image="../../../../public/promotions/promo1.png"
                            data-status="Disponible">
                            <i class="fa-solid fa-cart-shopping"></i>   
                        </a>
                    </div>
                </div>
                <div class="promotions__item section">
                    <div class="img"></div>
                    <img src="../../../../public/promotions/promotions2.png" class="promotions__img imgforma" alt="Promoción 1">
                    <div class="promotions__description">
                        <h2 class="promotions__name">Ensalada de frutas</h2>
                        <p class="promotions__old-price">Antes: $7.000</p>
                        <p class="promotions__price">Ahora: $5.000</p>
                        <div class="promotions__state">
                            <button class="btn btn--verde">Disponible</button>
                            <a href="#"class="link__item add-to-cart"
                            data-name="Ensalada de frutas"
                            data-price="5000"
                            data-image="../../../../public/promotions/promotions2.png"
                            data-status="Disponible">
                            <i class="fa-solid fa-cart-shopping"></i>   
                        </a>
                        </div>  
                    </div>
                </div>
                <div class="promotions__item section">
                    <div class="img"></div>
                    <img src="../../../../public/promotions/promotions3.png" class="promotions__img imgforma" alt="Promoción 1">
                    <div class="promotions__description">
                        <h2 class="promotions__name">Torta de auyama</h2>
                        <p class="promotions__old-price">Antes: $7.000</p>
                        <p class="promotions__price">Ahora: $5.000</p>
                        <div class="promotions__state">
                            <button class="btn btn--verde">Disponible</button>
                            <a href="#"class="link__item add-to-cart"
                            data-name="Torta de auyama"
                            data-price="5000"
                            data-image="../../../../public/promotions/promotions3.png"
                            data-status="Disponible">
                            <i class="fa-solid fa-cart-shopping"></i>   
                        </a>
                        </div>  
                    </div>
                </div>
                <div class="promotions__item section">
                    <div class="img"></div>
                    <img src="../../../../public/promotions/promotions4.png" class="promotions__img imgforma" alt="Promoción 1">
                    <div class="promotions__description">
                        <h2 class="promotions__name">Hamburguesa</h2>
                        <p class="promotions__old-price">Antes: $7.000</p>
                        <p class="promotions__price">Ahora: $5.000</p>
                        <div class="promotions__state">
                            <button class="btn btn--verde">Disponible</button>
                            <a href="#"class="link__item add-to-cart"
                            data-name="Hamburguesa"
                            data-price="5000"
                            data-image="../../../../public/promotions/promotions4.png"
                            data-status="Disponible">
                            <i class="fa-solid fa-cart-shopping"></i>   
                        </a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../../js/auth/authGuard.js"></script>
    <script src="../../../../js/cart/cart.js"></script>
</body>
</html>